In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

%matplotlib inline

In [2]:
path="/Users/effie/Desktop/term3/research_project/"

### read in the data with all infor and export the id for orbis

In [3]:
data=pd.read_stata(path+"data/firm_raw/firm_sample_21_1213.dta")
data_postcode=data['BvDID_firm']
data_postcode=data['BvDID_firm'].unique()
pd.DataFrame(data_postcode).to_csv(path+'data/firm_raw/export_firm_id.csv', header=None, index=None)

data

,BvDID_firm,year,BvDID_bank_1,postcode_bank_1,data2025_1,data2075_1,data11750_1,data30680_1,data30690_1,data38250_1,...,culilev,loanlev,credlev,nclilev,ltdblev,oncllev,wkcalev,shfdlev,random,random_sample_indicator
0,DE2010000057,2011.0,DE14133,53113,151422.0,38655.0,145766.0,8.10,14.30,NaN,...,0.000000,NaN,NaN,186944.0,185744.0,1200.0,NaN,0.000000,0.586790,0.561489
1,DE2010000057,2012.0,DE14133,53113,154079.0,48316.0,148513.0,8.30,14.30,NaN,...,0.037667,0.000000,0.0,136220.0,135020.0,1200.0,26420.0,0.000000,0.511115,0.561489
2,DE2010000057,2013.0,DE14133,53113,139108.0,40534.0,133488.0,11.00,16.30,NaN,...,0.026156,0.000000,5100.0,129502.0,128302.0,1200.0,38497.0,0.000000,0.586563,0.561489
3,DE2010000074,2004.0,DE13216,60325,848006.0,158096.0,830432.0,NaN,NaN,NaN,...,22.850683,1.062639,2782852.0,13183967.0,0.0,13183967.0,13066443.0,46.305569,0.210340,0.569100
4,DE2010000074,2005.0,DE13216,60325,1425349.0,221575.0,1400981.0,NaN,NaN,NaN,...,12.455903,0.000000,3930375.0,14087308.0,0.0,14087308.0,6997586.0,44.155380,0.975577,0.569100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469656,DE8350276165,2012.0,DE13772,84307,1679.0,241.0,1493.0,15.34,15.54,NaN,...,1.299578,0.000000,0.0,351464.0,328864.0,22600.0,1085100.0,0.047464,0.552223,0.642302
469657,DE8350276165,2013.0,DE13772,84307,1684.0,279.0,1488.0,16.23,16.76,NaN,...,1.614374,0.000000,0.0,385389.0,341517.0,43872.0,877202.0,0.000000,0.583665,0.642302
469658,DE8350276165,2014.0,DE13772,84307,1740.0,271.0,1536.0,17.05,17.61,NaN,...,2.527990,0.000000,0.0,371093.0,322595.0,48498.0,1832555.0,0.000000,0.791018,0.642302
469659,DE8350277440,2012.0,DE13352,83022,4175.0,256.0,3634.0,20.50,21.76,NaN,...,0.056661,0.000000,52982.0,7500.0,0.0,7500.0,1650209.0,2.513060,0.992052,0.897052
469660,DE8350277440,2013.0,DE13352,83022,4250.0,213.0,3685.0,21.16,22.37,NaN,...,2.293341,0.000000,0.0,40154.0,1.0,40153.0,2032051.0,0.104991,0.802052,0.897052

# firm to county

### plz to county

In [4]:
plz_county= pd.read_csv(
    path+'data/plot_data/plz-buland-kreis.csv', 
    sep=',', 
    dtype={'plz': str}
)
# plz_county=plz_county.astype(str)
plz_county= plz_county.drop_duplicates(subset=['plz'])

plz_county=plz_county.reset_index().drop(['index'], axis=1)

plz_county['plz'] = plz_county['plz'].astype(str)
plz_county['plz'] = np.where(plz_county['plz'].str.len()<5,"0"+plz_county['plz'],plz_county['plz'])

plz_county['kreisschluessel'] = plz_county['kreisschluessel'].astype(str)
plz_county['kreisschluessel'] = np.where(plz_county['kreisschluessel'].str.len()<5,"0"+plz_county['kreisschluessel'],plz_county['kreisschluessel'])
plz_county=plz_county.drop(columns=["Unnamed: 4"])
plz_county= plz_county.drop_duplicates(subset=['plz'])
plz_county['matching'] = [x[:4] for x in plz_county['plz']]
plz_county= plz_county.drop_duplicates(subset=['matching'])
plz_county= plz_county.rename(columns={'plz': 'plz_county'})



plz_county

     plz_county kreisschluessel                  kreis bundesland matching
0         01067           14262         Dresden, Stadt    Sachsen     0106
2         01097           14262         Dresden, Stadt    Sachsen     0109
4         01108           14262         Dresden, Stadt    Sachsen     0110
6         01127           14262         Dresden, Stadt    Sachsen     0112
8         01139           14262         Dresden, Stadt    Sachsen     0113
...         ...             ...                    ...        ...      ...
8174      99947           16064  Unstrut-Hainich-Kreis  Thüringen     9994
8175      99955           16064  Unstrut-Hainich-Kreis  Thüringen     9995
8177      99974           16064  Unstrut-Hainich-Kreis  Thüringen     9997
8179      99986           16064  Unstrut-Hainich-Kreis  Thüringen     9998
8181      99991           16064  Unstrut-Hainich-Kreis  Thüringen     9999

[3117 rows x 5 columns]

### firm plz cleaning

In [5]:
firm_plz1=pd.read_csv(path+"data/firm_raw/firm_postcode.csv", sep=';',engine='python',header=0)

In [6]:
firm_plz1.reset_index(level=0, inplace=True)
firm_plz1= firm_plz1.rename(columns={'index': 'BvDID_firm',"bvdid":"plz"})
firm_plz1= firm_plz1.drop_duplicates(subset=['BvDID_firm'])

In [7]:
missing=firm_plz1[firm_plz1["plz"].isnull()]

In [8]:
missing=missing['BvDID_firm']
pd.DataFrame(missing).to_csv(path+"data/firm_raw/export_missing_id.csv", header=None, index=None)

In [9]:
missing_plz=pd.read_csv(path+"data/firm_raw/missing_firm_county.csv",sep=';',engine='python',header=0)
missing_plz.reset_index(level=0, inplace=True)
missing_plz= missing_plz.rename(columns={'index': 'BvDID_firm',"BvD ID number":"plz"})
missing_plz=missing_plz.dropna()

In [10]:
missing_plz

       BvDID_firm      plz
0    DE2170033045  31885.0
1    DE7330327604  72631.0
2    DE3210097811  36433.0
3    DE2011745357  10115.0
4    DE2010318930  10115.0
..            ...      ...
144  DE2070159814  89073.0
145  DE2070162276  89073.0
146  DE5370010299  42549.0
147  DE4110114242   1723.0
148  DE2011744610  19322.0

[149 rows x 2 columns]

In [11]:
firm_plz = pd.merge(left=firm_plz1, right=missing_plz, on=["BvDID_firm"],how='left')
firm_plz['plz'] = np.where(firm_plz['plz_x'].notnull(),firm_plz['plz_x'], firm_plz['plz_y'])
firm_plz= firm_plz.drop(['plz_x','plz_y'], axis=1)
firm_plz

         BvDID_firm      plz
0      DE7330000658  70173.0
1      DE7150000030  67056.0
2      DE2010198197  10785.0
3      DE6130022168  63450.0
4      DE5050397210  40476.0
...             ...      ...
96057  DE6210182068  63303.0
96058  DE6210202045  63452.0
96059  DE7290346745  66271.0
96060  DE7330069541  70499.0
96061  DE8030007122  86899.0

[96062 rows x 2 columns]

In [12]:
missing_2=firm_plz[firm_plz["plz"].isnull()]
missing_2   ####  no county infor at all drop them

         BvDID_firm  plz
25769  DE6210325761  NaN
26491  DE6190237910  NaN
85988  DE2010085245  NaN
86006  DE2010137950  NaN
86020  DE2010245821  NaN
...             ...  ...
95848  DE8330239758  NaN
95850  DE8330246607  NaN
95851  DE8330250887  NaN
95876  DE8330336669  NaN
95925  DE8350038803  NaN

[140 rows x 2 columns]

In [13]:
firm_plz=firm_plz[firm_plz['plz'].notna()]
firm_plz["plz"]=firm_plz['plz'].astype(str).replace('\.0', '', regex=True)
firm_plz['plz']=np.where(firm_plz['plz'].str.len()<5, "0"+firm_plz['plz'], firm_plz['plz']);

<ipython-input-13-0dcbe72a0207>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firm_plz["plz"]=firm_plz['plz'].astype(str).replace('\.0', '', regex=True)
<ipython-input-13-0dcbe72a0207>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firm_plz['plz']=np.where(firm_plz['plz'].str.len()<5, "0"+firm_plz['plz'], firm_plz['plz']);

In [14]:
firm_plz

         BvDID_firm    plz
0      DE7330000658  70173
1      DE7150000030  67056
2      DE2010198197  10785
3      DE6130022168  63450
4      DE5050397210  40476
...             ...    ...
96057  DE6210182068  63303
96058  DE6210202045  63452
96059  DE7290346745  66271
96060  DE7330069541  70499
96061  DE8030007122  86899

[95922 rows x 2 columns]

In [15]:
firm_postcode=firm_plz.copy()
firm_postcode.loc[1,"plz"]="67059"
firm_postcode.loc[7,"plz"]="40629"
firm_postcode.loc[78,"plz"]="60323"
firm_postcode.loc[79,"plz"]="92224"
firm_postcode.loc[184,"plz"]="07743"
firm_postcode.loc[969,"plz"]="04103"
firm_postcode.loc[14609,"plz"]="79692"
firm_postcode.loc[18420,"plz"]="60323"

In [16]:
firm_postcode.replace("05821","25821",inplace=True)
firm_postcode.replace("31885","31855",inplace=True)
firm_postcode.replace("96529","96528",inplace=True)
firm_postcode.replace("06018","06110",inplace=True)
firm_postcode.replace('39599',"39628",inplace=True)
firm_postcode.replace('04316',"04229",inplace=True)
firm_postcode.replace('04178',"04229",inplace=True)
firm_postcode['matching'] = [x[:4] for x in firm_postcode['plz']]
#correct errors

In [17]:
firm_postcode.replace("6030","6593",inplace=True)
firm_postcode.replace("6476","6438",inplace=True)
firm_postcode.replace("1682","1681",inplace=True)
firm_postcode.replace("5524", "6518",inplace=True)

In [18]:
firm_postcode= firm_postcode.rename(columns={'plz': 'plz_firm'})

In [19]:
firm_postcode[firm_postcode["plz_firm"].isnull()]

Empty DataFrame
Columns: [BvDID_firm, plz_firm, matching]
Index: []

### firm plz to county

In [20]:
county_firm= pd.merge(
    left=firm_postcode, 
    right=plz_county, 
    on='matching',
    how='left'
)

county_firm

,BvDID_firm,plz_firm,matching,plz_county,kreisschluessel,kreis,bundesland
0,DE7330000658,70173,7017,70173,08111,Stuttgart,Baden-Württemberg
1,DE7150000030,67059,6705,67059,07314,"Ludwigshafen am Rhein, Stadt",Rheinland-Pfalz
2,DE2010198197,10785,1078,10781,11000,"Berlin, Stadt",Berlin
3,DE6130022168,63450,6345,63450,06435,Main-Kinzig-Kreis,Hessen
4,DE5050397210,40476,4047,40470,05111,"Düsseldorf, Stadt",Nordrhein-Westfalen
...,...,...,...,...,...,...,...
95917,DE6210182068,63303,6330,63303,06438,Offenbach,Hessen
95918,DE6210202045,63452,6345,63450,06435,Main-Kinzig-Kreis,Hessen
95919,DE7290346745,66271,6627,66271,10041,Stadtverband Saarbrücken,Saarland
95920,DE7330069541,70499,7049,70499,08111,Stuttgart,Baden-Württemberg
95921,DE8030007122,86899,8689,86899,09181,Landsberg am Lech,Bayern

In [21]:
check_different= county_firm[county_firm["plz_county"]!=county_firm["plz_firm"]]
check_different

,BvDID_firm,plz_firm,matching,plz_county,kreisschluessel,kreis,bundesland
2,DE2010198197,10785,1078,10781,11000,"Berlin, Stadt",Berlin
4,DE5050397210,40476,4047,40470,05111,"Düsseldorf, Stadt",Nordrhein-Westfalen
5,DE5110000576,45128,4512,45127,05113,"Essen, Stadt",Nordrhein-Westfalen
7,DE5050001329,40629,4062,40625,05111,"Düsseldorf, Stadt",Nordrhein-Westfalen
9,DE8110066557,61352,6135,61350,06434,Hochtaunuskreis,Hessen
...,...,...,...,...,...,...,...
95906,DE2151485749,23554,2355,23552,01003,"Lübeck, Hansestadt",Schleswig-Holstein
95911,DE3190364965,18439,1843,18435,13005,Stralsund,Mecklenburg-Vorpommern
95914,DE5250141571,45475,4547,45470,05117,"Mülheim an der Ruhr, Stadt",Nordrhein-Westfalen
95915,DE5270204828,40215,4021,40210,05111,"Düsseldorf, Stadt",Nordrhein-Westfalen
95918,DE6210202045,63452,6345,63450,06435,Main-Kinzig-Kreis,Hessen

In [22]:
county_firm[county_firm["kreis"].isnull()]  ## every firms that have plz can match to county

Empty DataFrame
Columns: [BvDID_firm, plz_firm, matching, plz_county, kreisschluessel, kreis, bundesland]
Index: []

In [23]:
# missing4=county_firm[county_firm["kreis"].isnull()]  
# missing4=missing4['BvDID_firm']
# pd.DataFrame(missing4).to_csv(path+"data/firm_raw/export_missing4_id.csv", header=None, index=None)

### county to all infor

In [24]:
data

,BvDID_firm,year,BvDID_bank_1,postcode_bank_1,data2025_1,data2075_1,data11750_1,data30680_1,data30690_1,data38250_1,...,culilev,loanlev,credlev,nclilev,ltdblev,oncllev,wkcalev,shfdlev,random,random_sample_indicator
0,DE2010000057,2011.0,DE14133,53113,151422.0,38655.0,145766.0,8.10,14.30,NaN,...,0.000000,NaN,NaN,186944.0,185744.0,1200.0,NaN,0.000000,0.586790,0.561489
1,DE2010000057,2012.0,DE14133,53113,154079.0,48316.0,148513.0,8.30,14.30,NaN,...,0.037667,0.000000,0.0,136220.0,135020.0,1200.0,26420.0,0.000000,0.511115,0.561489
2,DE2010000057,2013.0,DE14133,53113,139108.0,40534.0,133488.0,11.00,16.30,NaN,...,0.026156,0.000000,5100.0,129502.0,128302.0,1200.0,38497.0,0.000000,0.586563,0.561489
3,DE2010000074,2004.0,DE13216,60325,848006.0,158096.0,830432.0,NaN,NaN,NaN,...,22.850683,1.062639,2782852.0,13183967.0,0.0,13183967.0,13066443.0,46.305569,0.210340,0.569100
4,DE2010000074,2005.0,DE13216,60325,1425349.0,221575.0,1400981.0,NaN,NaN,NaN,...,12.455903,0.000000,3930375.0,14087308.0,0.0,14087308.0,6997586.0,44.155380,0.975577,0.569100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469656,DE8350276165,2012.0,DE13772,84307,1679.0,241.0,1493.0,15.34,15.54,NaN,...,1.299578,0.000000,0.0,351464.0,328864.0,22600.0,1085100.0,0.047464,0.552223,0.642302
469657,DE8350276165,2013.0,DE13772,84307,1684.0,279.0,1488.0,16.23,16.76,NaN,...,1.614374,0.000000,0.0,385389.0,341517.0,43872.0,877202.0,0.000000,0.583665,0.642302
469658,DE8350276165,2014.0,DE13772,84307,1740.0,271.0,1536.0,17.05,17.61,NaN,...,2.527990,0.000000,0.0,371093.0,322595.0,48498.0,1832555.0,0.000000,0.791018,0.642302
469659,DE8350277440,2012.0,DE13352,83022,4175.0,256.0,3634.0,20.50,21.76,NaN,...,0.056661,0.000000,52982.0,7500.0,0.0,7500.0,1650209.0,2.513060,0.992052,0.897052
469660,DE8350277440,2013.0,DE13352,83022,4250.0,213.0,3685.0,21.16,22.37,NaN,...,2.293341,0.000000,0.0,40154.0,1.0,40153.0,2032051.0,0.104991,0.802052,0.897052

In [25]:
missing_2=pd.DataFrame(missing_2) 
missing_2

         BvDID_firm  plz
25769  DE6210325761  NaN
26491  DE6190237910  NaN
85988  DE2010085245  NaN
86006  DE2010137950  NaN
86020  DE2010245821  NaN
...             ...  ...
95848  DE8330239758  NaN
95850  DE8330246607  NaN
95851  DE8330250887  NaN
95876  DE8330336669  NaN
95925  DE8350038803  NaN

[140 rows x 2 columns]

In [26]:
data=data[~data.BvDID_firm.isin(missing_2.BvDID_firm)] ## missing_2 are the ones have no county infor drop them

In [27]:
whole= pd.merge(
    left=county_firm, 
    right=data, 
    on='BvDID_firm',
    how='right'
)

whole

,BvDID_firm,plz_firm,matching,plz_county,kreisschluessel,kreis,bundesland,year,BvDID_bank_1,postcode_bank_1,...,culilev,loanlev,credlev,nclilev,ltdblev,oncllev,wkcalev,shfdlev,random,random_sample_indicator
0,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,DE14133,53113,...,0.000000,NaN,NaN,186944.0,185744.0,1200.0,NaN,0.000000,0.586790,0.561489
1,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,DE14133,53113,...,0.037667,0.000000,0.0,136220.0,135020.0,1200.0,26420.0,0.000000,0.511115,0.561489
2,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,DE14133,53113,...,0.026156,0.000000,5100.0,129502.0,128302.0,1200.0,38497.0,0.000000,0.586563,0.561489
3,DE2010000074,10178,1017,10178,11000,"Berlin, Stadt",Berlin,2004.0,DE13216,60325,...,22.850683,1.062639,2782852.0,13183967.0,0.0,13183967.0,13066443.0,46.305569,0.210340,0.569100
4,DE2010000074,10178,1017,10178,11000,"Berlin, Stadt",Berlin,2005.0,DE13216,60325,...,12.455903,0.000000,3930375.0,14087308.0,0.0,14087308.0,6997586.0,44.155380,0.975577,0.569100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469121,DE8350276165,84339,8433,84332,09277,Rottal-Inn,Bayern,2012.0,DE13772,84307,...,1.299578,0.000000,0.0,351464.0,328864.0,22600.0,1085100.0,0.047464,0.552223,0.642302
469122,DE8350276165,84339,8433,84332,09277,Rottal-Inn,Bayern,2013.0,DE13772,84307,...,1.614374,0.000000,0.0,385389.0,341517.0,43872.0,877202.0,0.000000,0.583665,0.642302
469123,DE8350276165,84339,8433,84332,09277,Rottal-Inn,Bayern,2014.0,DE13772,84307,...,2.527990,0.000000,0.0,371093.0,322595.0,48498.0,1832555.0,0.000000,0.791018,0.642302
469124,DE8350277440,70469,7046,70469,08111,Stuttgart,Baden-Württemberg,2012.0,DE13352,83022,...,0.056661,0.000000,52982.0,7500.0,0.0,7500.0,1650209.0,2.513060,0.992052,0.897052
469125,DE8350277440,70469,7046,70469,08111,Stuttgart,Baden-Württemberg,2013.0,DE13352,83022,...,2.293341,0.000000,0.0,40154.0,1.0,40153.0,2032051.0,0.104991,0.802052,0.897052

In [28]:
missing_3=whole[whole["kreis"].isnull()]    ###some firm are not found in orbis so dont match
missing_3

,BvDID_firm,plz_firm,matching,plz_county,kreisschluessel,kreis,bundesland,year,BvDID_bank_1,postcode_bank_1,...,culilev,loanlev,credlev,nclilev,ltdblev,oncllev,wkcalev,shfdlev,random,random_sample_indicator
0,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,DE14133,53113,...,0.000000,NaN,NaN,186944.0,185744.0,1200.0,NaN,0.000000,0.586790,0.561489
1,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,DE14133,53113,...,0.037667,0.0,0.0,136220.0,135020.0,1200.0,26420.0,0.000000,0.511115,0.561489
2,DE2010000057,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,DE14133,53113,...,0.026156,0.0,5100.0,129502.0,128302.0,1200.0,38497.0,0.000000,0.586563,0.561489
13,DE2010000077,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,DE13190,60311,...,0.123861,0.0,34417.0,200920.0,0.0,200920.0,315300.0,1.710168,0.672521,0.753747
14,DE2010000077,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,DE13190,60311,...,0.273595,0.0,111135.0,199355.0,0.0,199355.0,91303.0,0.681171,0.996543,0.753747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469080,DE8350266239,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,DE13912,80331,...,0.000000,NaN,NaN,5269512.0,5184402.0,85110.0,NaN,0.153388,0.511298,0.555730
469096,DE8350270132,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,DE13190,60311,...,21.885656,0.0,5455037.0,2044497.0,0.0,2044497.0,1660420.0,2.201433,0.677896,0.702111
469097,DE8350270132,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,DE13190,60311,...,20.407784,0.0,5251361.0,1823385.0,0.0,1823385.0,1443021.0,2.939347,0.782849,0.702111
469098,DE8350270132,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,DE13190,60311,...,22.796469,0.0,4920300.0,1428427.0,0.0,1428427.0,699135.0,3.422852,0.778206,0.702111
469099,DE8350270132,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,DE13190,60311,...,28.273102,0.0,7458461.0,1993068.0,138816.0,1854251.0,674701.0,3.639722,0.569493,0.702111

In [29]:
missing_3["BvDID_firm"].nunique()

10583

In [30]:
whole=whole[whole['kreis'].notna()]
whole=whole.drop(columns=["plz_county"])
whole

,BvDID_firm,plz_firm,matching,kreisschluessel,kreis,bundesland,year,BvDID_bank_1,postcode_bank_1,data2025_1,...,culilev,loanlev,credlev,nclilev,ltdblev,oncllev,wkcalev,shfdlev,random,random_sample_indicator
3,DE2010000074,10178,1017,11000,"Berlin, Stadt",Berlin,2004.0,DE13216,60325,848006.0,...,22.850683,1.062639,2782852.0,13183967.0,0.0,13183967.0,13066443.0,46.305569,0.210340,0.569100
4,DE2010000074,10178,1017,11000,"Berlin, Stadt",Berlin,2005.0,DE13216,60325,1425349.0,...,12.455903,0.000000,3930375.0,14087308.0,0.0,14087308.0,6997586.0,44.155380,0.975577,0.569100
5,DE2010000074,10178,1017,11000,"Berlin, Stadt",Berlin,2007.0,DE13247,60329,432559.0,...,30.282000,0.000000,9386000.0,30841000.0,385000.0,30456000.0,13859000.0,29.427000,0.683262,0.569100
6,DE2010000074,10178,1017,11000,"Berlin, Stadt",Berlin,2008.0,DE13247,60329,327591.0,...,38.543999,0.000000,9515000.0,30351000.0,43000.0,30308000.0,15419000.0,33.723000,0.797433,0.569100
7,DE2010000074,10178,1017,11000,"Berlin, Stadt",Berlin,2009.0,DE13190,60311,605765.0,...,53.154999,0.000000,14610000.0,35291000.0,843000.0,34448000.0,21978000.0,66.289001,0.788825,0.569100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469121,DE8350276165,84339,8433,09277,Rottal-Inn,Bayern,2012.0,DE13772,84307,1679.0,...,1.299578,0.000000,0.0,351464.0,328864.0,22600.0,1085100.0,0.047464,0.552223,0.642302
469122,DE8350276165,84339,8433,09277,Rottal-Inn,Bayern,2013.0,DE13772,84307,1684.0,...,1.614374,0.000000,0.0,385389.0,341517.0,43872.0,877202.0,0.000000,0.583665,0.642302
469123,DE8350276165,84339,8433,09277,Rottal-Inn,Bayern,2014.0,DE13772,84307,1740.0,...,2.527990,0.000000,0.0,371093.0,322595.0,48498.0,1832555.0,0.000000,0.791018,0.642302
469124,DE8350277440,70469,7046,08111,Stuttgart,Baden-Württemberg,2012.0,DE13352,83022,4175.0,...,0.056661,0.000000,52982.0,7500.0,0.0,7500.0,1650209.0,2.513060,0.992052,0.897052
469125,DE8350277440,70469,7046,08111,Stuttgart,Baden-Württemberg,2013.0,DE13352,83022,4250.0,...,2.293341,0.000000,0.0,40154.0,1.0,40153.0,2032051.0,0.104991,0.802052,0.897052

In [31]:
whole.to_csv(path+"data/firm_raw/ready_for_identified_affected_firm.csv")